body {
	background: #666;
	color: #f9f9fa;
}
.tab-list {
	border-color: #666;
}
.tab {
	background: #444;
	border-color: #666;
}
.active {
	border-left: 4px solid #f90;
}
#floater {
	border-color: #666;
}
.title {
	color: #eee;
}
.url {
	color: #999;
}
.toolbar {
	background: #222;
}
.tool-button {
	filter: brightness(180%);
}
#floater {
	background: #444;
}
.menuitem-container {
	background: #444;
	color: #eee;
}
.menu-title,
.menu-title {
	color: #eee;
}
.menu-url {
	color: #999;
}
.menuitem {
	color: #eee;
	border-color: #666;
}
.recentlist-title {
}
.recentlist-title::before {
	background: #4449;
	color: #eee;
}
.recent {
	border-color: #666;
}
.menuitem::before {
	filter: brightness(200%);
}
