body {
	background: #f9f9fa;
	box-sizing: border-box;
	color: #444;
	margin: 0;
	width: 100vw;
	overflow: hidden;
}
#cover {
	background: #fff;
	height: 100vh;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity .3s;
	width: 100vh;
	z-index: 99;
}
.transparent {
	opacity: 0;
	pointer-events: none;
}
.tab-list {
	display: block;
	background: #d7d7db;
	border-top: 1px solid #d7d7db;
	margin: 0;
	max-height: calc(100% - 40px);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	bottom: 40px;
	position: absolute;
	-moz-user-select: none;
	user-select: none;
	width: 100%;
}
.float-target {
	z-index: 1;
}
.float-target-parent {
	overflow-y: hidden; /* 'e.preventDefault()' does not work. */
}
.tablist-margin-top {
	height: calc(100vh - 40px - 4em);
}
.tab {
	background: #f9f9fa;
	border-bottom: 1px solid #d7d7db;
	box-sizing: border-box;
	display: block;
	height: 4em;
	padding: 0 1em;
	position: relative;
}
.active {
	border-left: 4px solid #f90;
}
.title,
.url {
	display: block;
	max-width: calc(100 % - 20px);
	overflow: hidden;
	pointer-events: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.title {
	color: #0c0c0d;
	font-size: 120%;
	padding-top: .5em;
}
.not-loaded {
	opacity: .5;
}
.url {
	color: #666;
}
.checkbox {
	background-image: url(./icons/checkbox.svg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
}
.checked {
	background-image: url(./icons/checked.svg);
}
.toolbar {
	background: #eee;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	max-width: 100vw;
	padding: 4px;
	position: absolute;
	width: 100vw;
	z-index: 2;
}
.tool-button {
	display: inline-block;
	height: 32px;
	width: 32px;
	vertical-align: middle;
}
.removing {
	border-width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all .4s;
}
.reloading {
	animation: reloading .4s ease-out;
}
@keyframes reloading {
	0% { background: #f90; }
	100% { }
}
.hide {
	display: none;
}
.slideout {
	transition: all 0.3s;
}
.popupmenu {
	align-items: center;
	background: rgba(0,0,0,.5);
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	-moz-user-select: none;
	transition: opacity .2s;
	user-select: none;
	width: 100%;
	z-index: 3;
}
.popuped {
	opacity: 1;
	pointer-events: auto;
}
.menuitem-container {
	background: #f9f9fa;
	border-radius: 2px;
	color: #444;
	max-height: 88vh;
	max-width: 88vw;
	overflow-y: auto;
}
.menu-title,
.menu-url {
	overflow: hidden;
	pointer-events: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.menu-title {
	color: #0c0c0d;
	font-size: 120%;
	max-width: 100%;
	padding: 14px 0 0 14px;
}
.menu-url {
	border-bottom: 2px solid #f90;
	color: #666;
	max-width: 100%;
	padding: 0 0 14px 14px;
}
.menuitem {
	border-bottom: 1px solid #d7d7db;
	max-width: 100%;
	padding: 14px 14px 14px 60px;
	position: relative;
}
.menuitem:last-child {
	border: none;
}
.menuitem::before {
	content: '';
	display: block;
	float:left;
	height: 32px;
	margin-right:14px;
	position: absolute;
	top: 8px;
	left: 14px;
	width: 32px;
}
.recentlist-title {
	background: url('./icons/recent.svg') no-repeat center right;
	background-size: 5.5em;
	border-bottom: 2px solid #f90;
	max-width: 100%;
}
.recentlist-title::before {
	background: #f9f9fa99;
	box-sizing: border-box;
	color: #0c0c0d;
	content: '__MSG_recentTabs__';
	display: inline-block;
	font-size: 120%;
	padding: 14px;
	width: 100%;
}
#recentListItems {
	min-height: 2em;
	max-height: calc(88vh - 28px - 1.2em);/* container - padding * 2 - font-size */
	overflow-y: auto;
}
.recent {
	border-bottom: 1px solid #d7d7db;
	max-width: 100%;
	padding: 0 14px 14px 14px;
	position: relative;
}
.recent:last-child {
	border: none;
}
#closeThisTab::before { content: url(./icons/closeThisTab.svg); }
#closeOtherTabs::before { content: url(./icons/closeOtherTabs.svg); }
#cloneThisTab::before { content: url(./icons/cloneThisTab.svg); }
#closeLeftTabsFromThis::before { content: url(./icons/closeLeftTabsFromThis.svg); }
#closeRightTabsFromThis::before { content: url(./icons/closeRightTabsFromThis.svg); }
#copyTitleAndUrl::before { content: url(./icons/copyTitleAndUrl.svg); }
#copyTitleAndURLofAllCheckedTabs::before { content: url(./icons/copyTitleAndURLofAllCheckedTabs.svg); }

